.App {
  background-color: #222;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

p {
  font-size: large;
  color: white;
}

.error {
  color: red;
}

.blackandwhite {
  filter: gray;
  filter: grayscale(100%);
}
